@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

$header-font: 'Lato', sans-serif;
$body-font:'Raleway', sans-serif;

body {
    font-family: $body-font;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

