@import "./fonts.scss";
@import "./homepage.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 1rem 12%;
}

.header {
    padding: 2rem 10%;
}

.post {
    max-width: 700px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none !important;
  }