@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}